@import url('../node_modules/modern-normalize/modern-normalize.css');

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* DANTE CODE HERE -----------*/
@font-face {
    font-family: "Roboto";
    src: url(./Resources/Fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: "Rosemarine";
    src: url(./Resources/Fonts/rosemarine/Rosemarine\ Regular.otf);
}

html {
    overflow-x: hidden;
    color-scheme: dark;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-x: hidden;
}

header {
    background: linear-gradient(345deg, #0000 40%, /*#4facb3*/ #0b98b8 10%); 
}

.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutmecontainer {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 30px;
    padding: 40px 0;
}

.aboutmecontainer .portrait {
    position: relative;
    max-width: 500px;
}

.name {
    position: absolute;
    transform: translate(150px, -50px);
    font-family: "Rosemarine";
    font-size: 2rem;
}

.aboutmecontainer .title {
    font-size: 2.5rem;
    font-family: "Roboto";
    font-weight: bold;
}

.aboutmecontainer .text {
    font-size: 1.5rem;
    font-family: "Roboto";
}

.aboutmecontainer .thumbnails {
    display: flex;
    justify-self: self-end;
    gap: 20px;
}

.aboutmecontainer .thumbnail {
    width: 40px;
    filter: invert(100%);
}

.mywork {
    display: flex;
    justify-content: center;
}

.mywork-container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mywork-container .title {
    font-size: 2.5rem;
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
}

.placarts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.placart .thumbnail {
    width: 20px;
    filter: invert(100%);
}

.placart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.p-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: "Roboto";
    gap: 20px;
}

.p-text {
    font-size:1rem;
    font-family: "Roboto";
}

.placart-thumbnails {
    display: flex;
    gap: 20px;
}

.contact {
    background-color: #0b98b8;
    display: flex;
    justify-content: center;
}

.contact-card {
    padding: 40px 0;
}

.contact-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.contact-title {
    font-size: 2.5rem;
}

.contact-body{
    display: flex;
    font-size: 1.5rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
}

.contact-details .thumbnail {
    width: 30px;
    filter: invert(100%);
}

.contact-image {
    width: 500px;
    padding: 40px 0;
}

/* MEDIA QUERIES ///////////////////////////////// */ 

  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */

    .aboutmecontainer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .aboutmecontainer .portrait {
        width: 200px
    }

    .name {
        font-size: 2rem;
        transform: translate(400px, -300px);
    }
    .aboutmecontainer .title {
        font-size: 1.5rem;
    }

    .des-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .aboutmecontainer .thumbnails {
        display: flex;
        align-self: flex-end;
    }

    .aboutmecontainer .text {
        font-size: 1rem;
    }

    .aboutmecontainer .thumbnail {
        width: 25px;
    }

    .mywork-container {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .mywork-container .title {
        font-size: 2rem;
    }

    .placarts-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }

    .contact {
        justify-content: start;
    }

    .contact-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact-title {
        font-size: 1.5rem;
    }

    .contact-body {
        font-size: 1rem;
    }

    .contact-details {
        gap: 35px;
    }

    .contact-details .thumbnail {
        width: 25px;
    }

    .contact-image {
        width: 350px;
    }
}
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */

    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    
  }
